/* @font-face {
  font-family: 'SatoshiMedium';
  src: url('/fonts/Satoshi-Medium.ttf'), url('/fonts/Satoshi-Medium.woff'), url('/fonts/Satoshi-Medium.woff2');
  font-display: swap;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
    
html {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 144px);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}